<!--@subject Passwort für {{var customer.name}} zurücksetzen @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/resetpassword/\" _query_id=$customer.id _query_token=$customer.rp_token":"Reset Password URL"}
@-->

<!--@styles
@-->



{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h1>Hallo {{htmlescape var=$customer.name}},</h1>
            <p>unser Shop hat eine Anfrage erhalten, dass dein Passwort zurückgesetzt werden soll.</p>
            <p>Falls du dein Passwort ändern möchtest, klicke bitte auf den folgenden Link: </p>
            <table cellspacing="0" cellpadding="0" class="action-button" >
                <tr>
                    <td>
                        <a href="{{store url="customer/account/resetpassword/" _query_id=$customer.id _query_token=$customer.rp_token}}"><span>Reset Password</span></a>
                    </td>
                </tr>
            
                        
                        <tr>
                            <td>
                                {{block type="magesetup/imprint_content" template="magesetup/imprint/email_footer.phtml"}}
                            </td>
                        </tr>
                        
                    </table>
            <p>Falls der Link nicht funktioniert, kopiere bitte den Link und füge diesen direkt in die Adresszeile deines Browsers ein.</p>
            <p>Falls du dein Passwort nicht zurücksetzen möchtest, ignoriere bitte diese Nachricht. Dein Passwort wird dann nicht zurückgesetzt. Bei Fragen wende dich bitte direkt an uns!</p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
